<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <div class="timer-wrapper">
    <div class="timer-circle">
      <div class="timer-progress">
        <svg class="progress">
          <circle cx="50" cy="50" r="45" />
        </svg>
      </div>
      <div class="timer-text">{{ displayTime }}</div>
    </div>
  </div>
  <br>
  <div class="quiz">
    <h1>{{valor1}} x {{valor2}} = </h1>
    <ion-input color="dark" label="Insira aqui o resultado" type="number" label-placement="floating" fill="outline" [(ngModel)]="formulario.valor"></ion-input>
    <ion-button color="light" (click)="checar_resultado()" expand="full" >Enviar</ion-button>
  </div>


</ion-content>
